<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.VManageLeaderMapper">
  <resultMap id="BaseResultMap" type="com.system.po.VManageLeader">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="departCode" jdbcType="VARCHAR" property="departcode" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="reback" jdbcType="VARCHAR" property="reback" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="leader_name" jdbcType="VARCHAR" property="leaderName" />
  </resultMap>
  <insert id="insert" parameterType="com.system.po.VManageLeader">
    insert into v_manage_leader (id, userId, name, 
      dept, departCode, tel, 
      detail, img, flag, 
      type, leader, reback, 
      create_time, type_name, leader_name
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{departcode,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{leader,jdbcType=VARCHAR}, #{reback,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{leaderName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.system.po.VManageLeader">
    insert into v_manage_leader
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="departcode != null">
        departCode,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="reback != null">
        reback,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="leaderName != null">
        leader_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="departcode != null">
        #{departcode,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="reback != null">
        #{reback,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null">
        #{leaderName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>